.enterCity {
  width: 100vw;
  height: 100vh;
  background-image: url("images/cloudBackgound.png");
  background-repeat: repeat;
  background-size: 75vh;
  z-index: -1;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform: scale(10);
}

.cityPopup {
  width: 25vw;
  height: auto;
  padding-block: 3vh;
  background-color: rgba(255, 255, 255, 0.612);
  border-radius: 50px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  position: relative;
  margin-block: 28vh;
  box-shadow: inset 0 0 10px transparent;
}

.nameBtn {
  display: flex;
  justify-content: space-evenly;
}

#cityName {
  border-radius: 20px;
  width: 60%;
  text-align: center;
  color: grey;
  font-size: 20px;
  border: none;
  box-shadow: inset 0 0 5px grey;
}

#cityName:focus {
  box-shadow: inset 0 0 7px rgb(18, 179, 18);
}

.cityPopup button {
  width: auto;
  height: auto;
  border-radius: 50%;
  border: none;
  background-color: greenyellow;
  color: white;
  transition: 0.5s;
}

.cityPopup button i {
  font-size: 35px;
}

button:hover {
  background-color: white;
  color: greenyellow;
  transition: 0.5s;
}

button:active {
  transition: 0.3s;
  color: gold;
  background-color: white;
}

.crossBtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 22px;
  color: white;
  transform: scale(0);
  transition: 0.4s;
}

.crossBtn:hover {
  color: rgb(252, 101, 26);
}

.cityPopup:hover > .crossBtn {
  transform: scale(1);
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  .cityPopup {
    width: 85vw;
    padding-block: 3vh;
    box-shadow: 0 0 5px grey;
  }

  .crossBtn {
    top: 10pc;
    right: 8.5pc;
    font-size: 40px;
    background-color: rgb(252, 101, 26);
    padding: 4px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    transform: scale(1);
    transition: 0s;
    box-shadow: 0 0 5px rgb(82, 82, 82);
  }

  .crossBtn:active {
    color: rgb(252, 101, 26);
    background-color: white;
    transition: 0s;
    top: 10.1pc;
    right: 8.6pc;
    font-size: 37px;
    box-shadow: 0 0 2px rgb(105, 105, 105);
  }
}
