
.hourSlotCont{
    width: 10%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.341);
    border-radius: 5%;
    border: 2px solid rgb(178, 178, 178);
    /* margin-inline: 10px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hourSlotCont p:nth-child(1){
    font-size: 25px;
    /* margin-top: 40px; */
    margin: 10px;
}

.hourSlotCont p:nth-child(2){
    font-size: 22px;
    /* margin-bottom: 40px; */
    margin: 10px;
}